@import "variables";

.table {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  margin: auto;
}
.mat-cell {
  padding-inline: 3px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-header-cell {
  color: $accent;
  padding-inline: 3px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-actions {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
}

.mat-column-position,
.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
